[user]
	name = EJ Mitchell
	email = ejm@cupofsquid.com
	signingkey = A9E6DFBC831A2B99DF430617C11BDF29881B2DD6

[push]
    default = current

[pull]
    rebase = true
    default = current

[branch]
  autosetuprebase = always

[alias]
    wdiff = diff -w --color-words
    cb = checkout -b
    c = checkout
    cm = commit
    cmm = commit -m
    a = add .
    s = status
    gdiff = diff | grep

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[merge]
    ff = only
[commit]
	gpgSign = true
[safe]
	directory = /home/eejum/dev/fashion-revolution/fashionrevolution_composer/src/web/app/plugins/autonomic-wordpress-events
	directory = /home/eejum/dev/fashion-revolution/fashionrevolution_composer/src/web/app/themes/fashion-revolution
[init]
	defaultBranch = main
