[user]
name = EJ Mitchell
email = emitchell@thoughtbot.com

[push]
    default = current

[pull]
    rebase = true
    default = current

[branch]
  autosetuprebase = always

[alias]
    wdiff = diff -w --color-words
    cb = checkout -b
    c = checkout
    cm = commit
    cmm = commit -m
    a = add .
    s = status
    gdiff = diff | grep

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f

[merge]
    ff = only
